*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    background-color: #EFE1C6;
}

header{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.5)),url('cropped-burger-header-white-60.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    position: relative;
}

nav{
    position: fixed;
    width: 100vw;
    min-height: 10%;
    box-shadow: 0 0 100px rgba(0,0,0,0.3), 0 0 115px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(0,0,0,0.2);
    z-index: 10;
}
nav ul{
    list-style: none;
    display: flex;  
}
nav a{
    text-decoration: none;
    color: #ffffff;
    margin: 0 2rem;
    padding: 0.5rem 1rem;
    font-family: 'Comfortaa', cursive;
}
#about-us-link{
    border: solid 1px#ffffff;
    transition: all 0.4s;
}
#about-us-link:hover{
    background-color: #ffffff;
    color: rgba(0,0,0,0.2);
}
.logo-container{
    font-size: 3rem;
    font-family: 'Barlow Condensed', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.logo{
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
}
.logo span{
    color: #A4DA5F;
}
#about-us{
    display: flex;
    height: 50vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 10vh 0;
    padding: 10vh 0;
}
.hour-location{
    height: 100%;
    width: 30%;
    background-color: #EBB347;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    
}
.hour-location p{
    margin: 0.4rem 0;
}
.hour-location button{
    padding: 0.4rem;
}
.hour-location-title{
    font-family: 'Rosarivo', serif;
}
.hour-location button{
    margin: 1rem 0;
    padding:  0.8rem 1.2rem;
    background: none;
    border: 1px solid #ffffff;
    border-radius: 10rem;
    color: #ffffff;
    transition: all 0.4s;
}
.hour-location button:hover{
    background-color: #ffffff;
    color:  #EBB347;
}
#menus{
    min-height: auto;
    width: 100%;
}
section h3{
    text-align: center;
    font-family: 'Rosarivo', serif;
}
.slide-container{
    margin: 20px auto;
    width: 67.3vw;
    
    display: flex;
    
    align-items: center;
}
.slide-container>div{
    
    overflow: hidden;
}
.slide{
    display: flex;
    width: 180vw;
    background-color:rgb(0,0,0);
    height: auto;
    transform: translateX(-30vw);
    transition: all 0.5s;
}
.slide-item{
    position: relative;
    height: 10vw;
    cursor: pointer;
    height: 15vw;
}
.slide-item div{
    height: 100%;
    width: auto;
    overflow: hidden;
}
.slide-item img{
    width: 15vw;
    opacity: 0.8;
    transition: all 0.4s;
    overflow: hidden;
}
.slide-item>p{
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.6rem;
    color:  #ffffff;
    text-align: center;
}
.slide-item:hover.slide-item img{
    transform: scale(1.4);
}
i{
    color: #ffffff;
    font-family: 'FontAwesome';
    font-weight: normal;
  font-style: normal;
  font-size: 2rem;
  margin: 0 10px;
  cursor: pointer;
  z-index: 5;
}
.next{
    order: 2;
    
}
.full-menus{
    position: relative;
    display: flex;
    margin: 5vh auto;
    width: auto;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
    
    
}
.full-menus::before{
    content: " ";
    padding-bottom: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-40%);
    height: 50%;
    width: 50%;
    background-image: url('undraw_eating_together_tjhx.svg');
    background-size: 90%;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.5;
    transition: all 0.2s;
}
.menu-items{
    margin: 0.4rem 0;
    display: grid;
    grid-template-columns: 20vw 20px;
    overflow: hidden;
    height: 1.2rem;
    width: auto;
    padding: 0 10px;
}
.item-name{
    font-weight: 600;
    margin-left: 1rem;
    cursor: pointer;
}
.section{
    margin: 0.6rem 0;
    margin-left: calc(20px + 1rem);
    font-size: 1.4rem;
    font-weight: 600;
}

.item-deital{
    display: block;
    opacity: 0;
    transform: scale(0.5);
    transition: all 1s;
    
}
.item-deital-active{
    
    animation-name: deital-active!important;
    animation-duration: 0.5s;
    animation-fill-mode:forwards;
}
@keyframes deital-active{
    100%{
    opacity: 1;
    transform: scale(1);
    }
}
#contact{
    margin: 15vh 0 0 0;
}
h2{
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
}
.contact{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 20px 0;
}
.collumn{
    height: 30vh;
    width: 15vw;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1.5rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    font-size: 1.6rem;
    font-family: 'Bodoni Moda', serif;
    transition: all 0.5s;
    cursor: pointer;
}
.collumn:hover{
    box-shadow: 0 0 15px rgba(0,0,0,0.2), 0 0 5px rgba(0,0,0,0.5);
}
.reservation{
    color: rgb(151, 68, 0);
}
.delivery{
    color: rgb(32, 32, 32);
}
.call-us{
    color: rgb(255, 136, 0);
}
.symbol-container{
    height: 50%;
    width: 50%;
    margin-bottom: 1rem;
}
.symbol-container>img{
    display: inline-block;
    border-radius: 50%;
}
form{
    
    background-color: rgb(240, 240, 240);
    height: 40vh;
    width: 22vw;
    
    padding: 2rem 3rem;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    height: auto;
    overflow: hidden;
    margin-right: 2rem;
}


.txt-field, .time{
    position: relative;
    margin: 1.4rem 0;
    border-bottom: 1px solid rgb(139, 135, 135);
    margin-bottom: 20px;
}
.time{
    border: none;
}
.time input{
    color:  rgb(139, 135, 135);
    font-size: 1rem;
    background-color:rgb(240, 240, 240);
    border: 1px solid  rgb(139, 135, 135);
    padding: 0.2rem;
}
.txt-field span{
    content: "";
    position: absolute;
    height: 1px;
    width: 0;
    top: 100%;
    left: 0;
    background-color:  rgb(4, 151, 209);
    transition: all 0.2s;
}
.txt-field input{
    height: 40px;
    width: 100%;
    background: none;
    border: none;
    font-size: 18px;
    background: none;
    outline: none;
    padding:  0 6px;
    color:rgb(77, 77, 77);
    outline: none;
}
.txt-field input:focus ~ label{
    transform: translate(0, -180%);
    font-size: 12px;
    color: rgb(4, 151, 209);
}
.txt-field input:valid ~ label{
    transform: translate(0, -180%);
    font-size: 12px;
    color: rgb(4, 151, 209);
}
.txt-field input:focus ~ span{
    width: 100%;
}
.txt-field label{
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translate(0,-50%);
    pointer-events: none;
    color:rgb(139, 135, 135);
    transition: all 0.5s;
}
.password{
    margin-bottom: 10px
}
 
input[type="submit"]{
    width: 100%;
    text-align: center;
    padding: 14px 0;
    font-size: 15px;
    font-weight: 600;
    color: white;
    background-color:rgb(78, 207, 3);
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
#contact a{
    display: block;
    height: 50px;
    width: 150px;
    margin: 0 auto;
   
}
